.navBar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navTab {
    flex-grow: 1;
    text-align: center;
    display: flex;
}

.navTabLink {
    flex-grow: 1;
    padding: 16px;
    border-right: 2px solid #00A06E;
    border-bottom: 2px solid #00A06E;
    border-left: 2px solid #00A06E;
    background-color: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.activeTab {
    background-color: #00A06E;
}

/*.navItem > a {*/
/*    color: black;*/
/*    font-weight: bold;*/
/*}*/

@media screen and (max-width: 556px) {
    .navbar {
        max-width: inherit;
        overflow-x: scroll;
    }
}
