html, body {
    height: 100%;
}

body {
    animation: 20s infinite alternate colorChange;

    -webkit-animation: 20s infinite alternate colorChange;
}

@keyframes colorChange {
    0% {
        background-color: #c8e6c9;
    }
    50% {
        background-color: #c9c8e6;
    }
    100% {
        background-color: #e6c9c8;
    }
}

@-webkit-keyframes colorChange {
    0% {
        background-color: #c8e6c9;
    }
    50% {
        background-color: #c9c8e6;
    }
    100% {
        background-color: #e6c9c8;
    }
}
